p {
    font-size: 1.25rem;
}

.post-entry-1.person-1 img {
    width: 180px;
}

.text-primary-custom {
    color: #381660;
}

.text-secondary-custom {
    color: #8AC6C1 !important;
}

.border-primary-custom {
    border-color: #381660;
}

.border-secondary-custom {
    border-color: #8AC6C1;
}

.bg-primary-custom {
    background-color: #381660;
}

.bg-secondary-custom {
    background-color: #8AC6C1;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #66c6c2 !important;
}

.package .package__title {
    font-size: 1.5rem;
}