p {
    font-size: 1.25rem;
}

.post-entry-1.person-1 img {
    width: 180px;
}

.text-primary-custom {
    color: #381660;
}

.text-secondary-custom {
    color: #8AC6C1 !important;
}

.border-primary-custom {
    border-color: #381660;
}

.border-secondary-custom {
    border-color: #8AC6C1;
}

.bg-primary-custom {
    background-color: #381660;
}

.bg-secondary-custom {
    background-color: #8AC6C1;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #66c6c2 !important;
}

.package .package__title {
    font-size: 1.5rem;
}


/*
# Home
*/

/* Banner */

.site-section-cover {
    background-position: center 2rem;
}

.site-section-cover .banner__title {
font-size: 2.5rem;
}

.site-section-cover .banner__subtitle {
    font-size: 1.2rem;
}

@media (max-width: 400px) {
    .site-section-cover {
        background-position: -45rem center;
    }
    
}

/* Footer */ 
.address-text {
    font-size: 1rem;
}

.tiktok-icon {
    background-image: url(../images/tik-tok.svg) no-repeat center center;
    width: 20px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#8AC6C1;
    color: #f2f2f2;
}

